*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    overflow-x: hidden;
}

body{
    background: #222;
    color: #fff;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

main{
    min-height: 100%;
    position: relative
}

section{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 100px 0;
    background: black;
}

header{
    min-height: 600px;
    background-image: url('../images/netflix.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

header > nav{
    width: 100%;
    top: 0;
    left: 0;
    padding: 2% 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.logo{
    width: 200px;
    height: auto;
}

.menu{
    width: 50px;
    height: 50px;
    background-color: green;
}

.card{
    width: 90%;
    margin: 0 auto;
    padding: 100px 0 20px 0;
    text-align: center;
    position: relative;
    z-index: 10;
}

.fundo{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    z-index: 9;
}

.card__titulo{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card__subtitulo{
    font-weight: 400;
}

@media screen and (min-width: 994px){
    .card{
        width: 650px;
    }
    
    .card__titulo{
        font-size: 55px;
        line-height: 55px;
    }
}